@media (max-width: 960px) {
  /* visibilidade do menu hambúrguer e mais funcionalidades */
  @media (max-width: 779px) {
    .menu-itens {
      visibility: hidden;
      display: block;
      position: absolute;
      right: 0px;
      justify-content: center;
      padding: 15px 15px 0 0;
    }
    #navigation-icon {
      display: flex;
      font-size: 1.5rem;
      justify-content: end;
      background-color: transparent;
      border: none;
      color: white;
    }

    #nav.active .menu-itens {
      visibility: visible;
    }

    .card {
      width: 525px;
      height: 300px;
      margin: 40px;
    }

    .icons {
      width: 525px;
    }

    .card:hover .icons {
      height: 300px;
      top: 0%;
    }

    .icons a {
      margin: 35px;
      padding: 8.75px 26.25px;
      font-size: 3rem;
    }

    .icons a span {
      margin: 10px;
      font-size: 1.5rem;
    }
  }

  .sobre-mim {
    display: flex;
    flex-direction: column;
  }

  .description,
  .skills {
    width: 120vh;
  }

  .card-container {
    justify-content: center;
  }
}
